{% extends 'layouts/layout.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col">
        <span class="title-text"> New Question</span>
    </div>
</div>

<!-- question sector-->
<div class="row mt-3">

    <div class="row g-2">
        <div class="col-1">
            <label for="inputQuestionTitle" class="col-form-label">Title:</label>
        </div>

        <div class="col-11">
            <input type="text" id="inputQuestionTitle" class="form-control">
        </div>
    </div>
</div>

<div class="row mt-3">

    <div class="row g-2 ">
        <div class="col-1">
            <label for="exampleFormControlTextarea1">Text:</label>
        </div>

        <div class="col-11">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        </div>
    </div>
</div>


<div class="row mt-3">

    <div class="row g-2">
        <div class="col-1">
            <label for="inputQuestionText" class="col-form-label">Tags:</label>
        </div>

        <div class="col-11">
            <input type="text" id="inputQuestionText" class="form-control">
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <button type="submit" class="btn btn-primary">Ask!</button>
    </div>
    <div class="col-9">
        <span>Some error text</span>
    </div>
</div>
{% endblock %}