{% extends 'layouts/layout.html' %}
{% block content %}
<div class="col-9">

    <div class="row mt-5">
    </div>

    {% include 'components/cur_question.html' %}


    {% for answer in answers %}
    {% include 'components/one_answer.html' %}
    {% endfor %}
    {% include 'components/pagination.html' %}




    {% include 'components/register_form.html' %}


    <div class="row mt-3">

        <div class="row your_answ_sect text-center">
            <span>Type your answer</span>
        </div>
        <form class="row mt-2">
            <!-- konkret question -->
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" maxlength="200"></textarea>

        </form>
    </div>

    <div class="col-2 row mt-3">
        <button type="button" class="btn btn-outline-primary">Answer!</button>
    </div>
</div>
{% endblock %}