<!-- konkret question -->
<div class="row question mt-4">

    <div class="col-2">
        <div class="row mt-4">
            <img class="questavatar" src="..{{ question.author.avatar }}.png" width="50" height="50" alt="{{ question.author.user.username }}">
        </div>
        <div class="row row-cols-2 mt-4">
            <div class="col-3">
                <button type="button" class="btn btn-outline-success btn-sm">
                    <img class="pictmark" width="10" height="10" src="../static/img/keyup.png" alt="#"/>
                </button>
            </div>
            <div class="col-9 mt-4">
                <!--как выравнивать текст?? -->
                <span class="text-center">{{question.rating}}</span>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-outline-danger btn-sm">
                    <img class="pictmark" width="10" height="10" src="../static/img/keydown.png" alt="#"/>
                </button>
            </div>
        </div>

    </div>
    <div class="col-10">
        <div class="row">
            <!--sam vopros-->
            <a class="text-center  quest_name" href="{% url 'onequestion' question.id %}">{{ question.title }}</a>
        </div>

        <div class="row sect-text">
            <!--sam vopros-->
            <span> {{ question.content }}    </span>
        </div>

        <div class="row">
            <div class="col-2">

                <a class="go_answ" href="{% url 'onequestion' question.id %}"> answer</a>
            </div>
            <div class="col-10">
                <span class="tags-st">Tags: </span>
                {% for tag in question.tags.all %}
                    <a href="{% url 'tagpage' tag.name %}" class="quest-tag"> {{tag.name}}</a>
                {% endfor %}

            </div>
        </div>

    </div>
</div>