<div class="row mt-5">
    <a class="text-center title-text" href="#">Popular tags</a>
    <div class="container-fluid sect-text">
        {% for tag in poptags %}
                <a href="{% url 'tagpage' tag.name %}" class="quest-tag"> {{tag.name}}</a>
        {% endfor %}
    </div>
</div>
<div class="row mt-5">
    <a class="text-center title-text" href="#">Best members</a>
    <div class="sect-text">
        {% for prof in popprof %}
            <div class="row">
                <a href="#" class="best_user"> {{prof.user.username}}</a>
            </div>
        {% endfor %}
    </div>
</div>